
/* element selectors */
body {
    position: relative;
    font-size: 16px;
    font-family: sans-serif;
    background-color: lightpink;
}

h1 {
    margin: 15px 0;
    font-size: 310%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 150%;
    margin: 25px 0;
}

a {
    position: absolute;
    top: 0px;
    left: 20px;
}

/* distinctions between quiz answers and the high score list*/
ol li {
    margin: 5px;
    font-size: 110%;
}

ol li:hover {
    color: blue;
    cursor: pointer;
}

ul {
    position: relative;
    margin-top: 50px;
}

ul li {
    margin: 5px;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}

/* class selectors */
.container {
    display: flex;
    justify-content: center;
}

.centered{
    text-align: center;
}

.btn {
    margin-top: 100px;
    font-size: 200%;
    padding: 15px;
}

.question-container{
    width: 50%;
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one::before {
    content: "A.  ";
}

.two::before {
    content: "B.  ";
}

.three::before {
    content: "C.  ";
}

.four::before {
    content: "D.  ";
}

/* id selectors */
#timer {
    font-size: 150%;
    position: absolute;
    top: 0px;
    right: 20px;
}

#instructionsDiv {
    background-color: salmon;
    width: 50%;
    margin: auto;
    border: 3px solid black;
    padding: 10px 10px 25px;
}

#instructionsLabel {
    font-size: 175%;
    font-weight: bold;
    margin: 30px;
}

#instructions {
    padding: 0 10px;
}

#question {
    display: inline;
}

#question-container{
    display: none;
}

#end-game{
    display: none;
}

#quiz-over {
    font-size: 200%;
    margin-bottom: 50px;
}

#score{
    font-size: 140%;
    margin: 20px 0 0;
}

/* for the high score page */

#reset-scores {
    position: absolute;
    color: red;
    bottom: 0px;
    font-size: 150%;
    padding: 15px;
}

#high-score-div {
    height: 300px;
}